:root {
    --primary-brand-color: #4D5AE5;
    --navbar-color: #2E2F42;
    --navbar-contacts-color: #434455;
    --footer-text-color: #F4F4FD;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    min-height: 100vh;
    color: #434455;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1440px;
}

main {
    flex-grow: 1;

    width: 1440px;
}

header {
    background: #FFFFFF;
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #404bbf
}

.link:active {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}


/*=============================================
=                   header                    =
=============================================*/

.header-container {
    display: flex;
}

.logo {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo-studio {
    color: var(--navbar-color);
}

.nav-block {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 156px;
}

.nav-list {
    margin: 0;
    display: flex;
    gap: 40px;
    margin-left: 76px;
    padding: 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navbar-color);
}

.nav-link:hover {
    color: #404bbf
}

.nav-link:active {
    color: #404bbf
}

.contacts {
    font-style: normal;
    margin-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navbar-contacts-color);
}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:active {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf;
}

/*=============================================
=                    main                     =
=============================================*/

/* 1 Section Title block */
.title-block {
    background: #2E2F42;
    align-items: center;
    margin: 0px;
    height: 600px;
}

.title-text {
    display: flex;
    padding-top: 188px;
    margin-top: 0px;
    padding-left: 472px;
    padding-right: 472px;

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--primary-brand-color);
    font-style: normal;
    line-height: 1.5;

    width: 169px;
    height: 56px;
    margin-bottom: 188px;
    margin-left: 636px;
}

.title-button:hover {
    background-color: #404BBF;
}

.title-button:active {
    background-color: #404BBF;
}

.title-button:focus {
    background-color: #404BBF;
}

/* 2 Section about */
.about {
    display: flex;
}

.section-about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navbar-color);
}

.section-about-list {
    display: flex;
    padding-top: 120px;
    padding-left: 156px;
    padding-right: 156px;
    gap: 22px;
    margin: 0;
}



.section-about-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navbar-color);
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;

}

.section-about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navbar-contacts-color);
    margin-top: 8px;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

/* 3 Section work */

.work {
    margin-top: 120px;

    margin-left: 156px;
}

.section-work-title {
    padding-left: 403px;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    color: var(--navbar-color);
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 0px;

}

.section-work-list {
    display: flex;
    gap: 24px;
    margin-left: 0px;
    padding-left: 0;
    margin-top: 72px;
}

/* 4 Section Team */
.team {
    background-color: #F4F4FD;
    margin-top: 120px;
}

.section-team-title {
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    margin: 0;

}

.team-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 120px;
    margin-bottom: 0;

}

.team-card {
    text-align: center;
    background: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    padding-bottom: 32px;
}

/*=============================================
=                   footer                    =
=============================================*/
.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    margin-left: 156px;
}

.footer-logo-studio {
    color: #f4f4fd
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    margin-right: 1020px;
    margin-left: 156px;
}

/*=============================================
=               Portfolio page                =
=============================================*/

.porfolio-section {}

.button-list {
    display: flex;
    margin-top: 96px;
    padding-left: 0;
    margin-left: 427px;
    gap: 24px;
    margin-bottom: 72px;
}


.filter-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--footer-text-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
}

.filter-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.filter-button:active {
    color: #FFFFFF;
}

.project-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 156px;
    gap: 48px 24px;
    margin-bottom: 120px;
    padding-left: 0;
}

.project-card-item {
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.card-border {
    border: 1px solid #E7E9FC;
}

.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.project-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 32px;
}